@font-face {
                font-family: Gallinari;
                font-display: swap;
                src: url("../fonts/Gallinari-ExtraboldCond.woff2") format("woff2"),
                    url("../fonts/Gallinari-ExtraboldCond.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: YanoneKaffeesatz;
                font-display: swap;
                src: url("../fonts/YanoneKaffeesatz-Bold.woff2") format("woff2"),
                    url("../fonts/YanoneKaffeesatz-Bold.woff") format("woff");
                font-weight: 700;
                font-style: normal;
              }
@font-face {
                font-family: YanoneKaffeesatz;
                font-display: swap;
                src: url("../fonts/YanoneKaffeesatz-Regular.woff2") format("woff2"),
                    url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: YanoneKaffeesatz;
                font-display: swap;
                src: url("../fonts/YanoneKaffeesatz-Light.woff2") format("woff2"),
                    url("../fonts/YanoneKaffeesatz-Light.woff") format("woff");
                font-weight: 300;
                font-style: normal;
              }
